* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --header-shadow: #7f4a20;
    --primary-text-color: black;
    --quote-font: 'cursive';
    --title-font: 'sans-serif';
}

body {
    display: flex;
    justify-content: center;
}


/* BACKGROUND */

.background {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0.75;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

.homepage-background {
    box-shadow: 105px 115px black inset;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}

.shadow {
    box-shadow: 0 0 40vw black inset;
    height: 105vh;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 105vw;
}

.background-logo {
    filter: invert(8%) sepia(55%) saturate(5142%) hue-rotate(14deg) brightness(35%) contrast(99%);
    height: auto;
    max-width: 50%;
    position: absolute;
}


/* HEADER */

header {
    align-items: center;
    display: flex;
    height: 100px;
    left: 50%;
    max-width: 1080px;
    padding: 0 16px;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
}

.app-title {
    align-items: center;
    color: var(--primary-text-color);
    display: flex;
    flex-grow: 1;
    font-family: var(--title-font);
    font-size: 6.5vw;
    font-weight: 700;
    height: 100%;
    justify-content: flex-start;
}

.header-icon {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 8px;
    padding: 10px;
    width: max-content;
}

.header-icon span {
    color: var(--primary-text-color);
    font-size: 30px !important;
}

.header-icon:hover span,
.header-icon:focus span {
    color: #5b1c01;
    text-shadow: 0px 0px 10px #FFFFFF;
}


/* FOOTER */

footer {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 100px;
    justify-content: space-around;
    left: 50%;
    max-width: 1080px;
    position: fixed;
    transform: translateX(-50%);
    width: 100%;
}

.footer-buttons {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px;
}

.footer-buttons a {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    width: 100%;
}

.footer-buttons span {
    color: var(--primary-text-color);
    font-size: 40px !important;
}

.footer-buttons:hover span,
.footer-buttons:focus span {
    color: #5b1c01;
    text-shadow: 0px 0px 10px #FFF;
}


/* HOMEPAGE */

.homepage-main {
    max-height: calc(100vh - 200px);
    min-height: max-content;
    margin: 100px 0;
    max-width: 1080px;
    overflow: hidden;
    padding: 32px 16px;
    position: relative;
    width: 100%;
}

.homepage-main h1 {
    border-radius: 100px;
    font-family: var(--title-font);
    font-size: 32px;
    margin: 0 auto;
    padding: 8px 8px;
    text-align: center;
    width: max-content;
}

.quote-container {
    -ms-overflow-style: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: var(--quote-font);
    font-size: 24px;
    margin: 16px auto;
    max-height: calc(100vh - 350px);
    width: 85%;
    min-height: min-content;
    overflow-y: scroll;
    padding: 16px 12px;
    scrollbar-width: none;
}

.quote-container::-webkit-scrollbar {
    display: none;
}

.quote {
    align-self: flex-start;
    margin-bottom: 16px;
}

.quoters {
    align-self: flex-end;
}


/* SEARCH */

.search-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
    margin: 100px 0;
    max-width: 1080px;
    min-height: max-content;
    overflow: hidden;
    padding: 32px 16px 16px 16px;
    position: relative;
    width: 100%;
}

.search-bar-container {
    align-items: center;
    display: flex;
    height: max-content;
    max-width: 600px;
    width: 100%;
}

.search-bar-icon {
    color: #5b1c01;
    font-size: 24px !important;
    margin-left: 8px;
    position: absolute;
}

.search-bar {
    background: none;
    border-radius: 5px;
    border: solid 1px #5b1c01;
    font-size: 1em;
    margin: 0;
    padding: 5px 5px 5px 40px;
    width: 100%;
}

.search-bar:focus {
    box-shadow: 0 0 5px #5b1c01;
    outline: none;
}

.profile-pic-container {
    align-items: center;
    column-gap: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 32px 0 0 0;
    max-height: 100%;
    max-width: 600px;
    min-height: min-content;
    overflow-y: scroll;
    padding: 8px;
    row-gap: 24px;
    scrollbar-width: none;
    width: 100%;
}

.profile-pic-container::-webkit-scrollbar {
    display: none;
}

.pic-border {
    align-items: center;
    border-radius: 50%;
    border: solid 2px #5b1c01;
    box-shadow: 0 0 8px #5b1c01;
    display: flex;
    height: 105px;
    justify-content: center;
    overflow: hidden;
    width: 105px;
}

.profile-pic {
    max-height: 100%;
    width: auto;
}


/* RANDOM PAGE */

.random-main {
    height: calc(100vh - 200px);
    margin: 100px 0;
    max-width: 1080px;
    overflow: hidden;
    padding: 32px 16px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.random-main button {
    cursor: pointer;
    background: none;
    box-shadow: 0 0 5px #5b1c01;
    outline: none;
    border: solid 2px #5b1c01;
    border-radius: 100px;
    font-family: var(--title-font);
    font-size: 32px;
    margin: 0 auto;
    padding: 8px 8px;
    text-align: center;
    width: max-content;
    transition: 0.2s;
}

.random-main button:hover {
    transform: scale(1.02);
}


/* MEDIA QUERIES */

@media only screen and (min-width: 600px) {
    .pic-border {
        height: 130px;
        width: 130px;
    }
}

@media only screen and (min-width: 800px) {
    .app-title {
        font-size: 52px;
    }
    .profile-pic-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
